.background{
    background-image: linear-gradient(to left , rgb(18, 191, 214),rgb(76, 114, 89));
    color: rgb(0, 0, 0); 
  }

  .topnav { 
   background-color: rgb(48, 46, 46);
    margin-top: 0px;
    color:transparent;
    width: 100%;
    height: 75px; 
    position: fixed;
  }
  .topnav a {  
    background-color :transparent;
    float: left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    margin: 20px;  
    color: white;
  }
  .topnav a:hover {   
    background-color: yellow;
    color: black;
  }
  .top{  
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    background-size: cover;
    overflow: hidden;
  
  }
  .myposts{
    background-position-y: 30%;
    height: 20%;
    margin: 20px;
    border: groove;
    padding: 5px;
    width:97%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    box-shadow: 0 0 5px 15px #a0a0affd;
  }
  .footer
{
  width: 100%;
  height: 500px;
  overflow: hidden;
  background:transparent;
}
.footer h1{
  color: white;
  font-family: fantasy; 
}
.footer img{
  height: 50px;
  width: 50px;
}
